SECRET_KEY=ВВЕДИТЕ_ДЖАНГО_СЕКРЕТНЫЙ_КЛЮЧ
EMAIL_HOST_PASSWORD=ВВЕДИТЕ_ПАРОЛЬ_ОТ_ПОЧТЫ
EMAIL_HOST=ВВЕДИТЕ_ХОСТ_ПОЧТЫ
EMAIL_PORT=ВВЕДИТЕ_ПОРТ_ПОЧТЫ
EMAIL_HOST_USER=ВВЕДИТЕ_ВАШ_ЕМЕЙЛ
TELEGRAM_BOT_TOKEN=ВВЕДИТЕ_ТОКЕН
YOUR_PERSONAL_CHAT_ID=ВВЕДИТЕ_ВАШ_ЧАТID