body {
    padding-top: 56px;
    background-color:#24131a;
    
}

#example{
    margin: 30px 0;
}


.carousel-item{
    width:100%;
    height:100%;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
    flex-shrink: 0;
    margin-bottom: -20px; 
}

#text {
    color:whitesmoke;
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);

}

#navbar-button {
    transition: transform 0.3s ease;
    color: #f8f8f8;
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

#navbar-button:hover {
    transform: scale(1.05)
}

#bfr {
    text-decoration: none;
    color: #f8f8f8;
}

#requestbtn {
    width:175px;
    height: 50px;
    font-size: larger;
    transition: transform 0.3s ease;
}

#requestbtn:hover {
    transform: scale(1.05)
}

#footertext {
    font-size: larger;
    padding-bottom: 30px;
    color: #f8f8f8;
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    width: 700px;
    line-height: 140%;   
}

