{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
     <link href="{% static "deps/css/auth.css" %}" rel="stylesheet" >
{% endblock  %}

{% block content %}
<div class='container'>
    <div id='prc' class='p-3 col-12 col-md-10 bg-light'>
<h2>{% trans "Ввод нового пароля" %}</h2>
{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-dark">{% trans "Изменить пароль" %}</button>
</form>
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
