{% extends "users/base_profile.html" %}
{% load static %}
{% block css %}
     <link href="{% static "deps/css/auth.css" %}" rel="stylesheet" >
{% endblock  %}

{% block head %}
<style>
  .profile-img { 
    border-radius: 45%;
    max-width: 60%;
    border: 2px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
</style>
{% endblock %}

{% block content_profile %} 
<h2>Изменение профиля</h2>
{% if user.photo %} 
<div class="text-center mt-5 pt-5 mb-3"> 
<img id="profile-img" src="{{ user.photo.url }}" class="img-fluid" alt="Тут фото {{ user.username }}">
{% endif %}
</div>
<form class = 'p-3 col-12 col-md-10 bg-light' method="post" enctype="multipart/form-data"> 
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-dark">Сохранить</button> 
</form>
{% endblock %}
{% block footer %}

{% endblock %}


