{% extends "main/base.html" %}
{% load static %}


{% block css %}
     <link href="{% static "deps/css/index.css" %}" rel="stylesheet" >
{% endblock  %}



{% block content %}
<section>
    <div id="about" class="container">
        <div class="row">
            <div class="col-12 col-lg-12"> 
                <h2>
                    О нас
                </h2>
                <p  id='textabout' class='col-12 col-lg-12'>
                    Студия художественной ковки «Стальной Узор» приветствует вас!
                    Мы существуем на рынке уже 30 лет и за это время успели накопить богатый опыт работы с металлом.
                    Наша команда состоит из настоящих профессионалов своего дела, которые с любовью относятся к своей работе. 
                    Среди наших клиентов — как частные лица, так и крупные компании. 
                    Обратившись к нам, вы сможете воплотить в жизнь любые ваши идеи и пожелания. 
                    Наши мастера готовы создать для вас изделия любой сложности: от решёток и ворот до мебели и предметов интерьера. 
                    Вы можете оставить заявку на сайте, позвонить или прийти к нам в цех, мы всегда рады новым клиентам!
                </p>
                <div id="mapp" class="img-fluid">
                    <h2>Контактная информация</h2>
                    <ul id='contacts' class="list-unstyled">
                        <li>+7 (953) 154 2613</li>
                        <li>+7 (921) 215 5603</li>
                        <li>г. Псков, ул. Леона Поземского, д. 117.</li>
                    </ul>

                </div>                
            </div>
        </div>
    </div>
</section>
   
{% endblock  %}

