{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=b0e8d56c-76cb-4d86-b993-33efb83325d1&lang=ru_RU" type="text/javascript">
        </script>
    </head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static "deps/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    {% block css %}       
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a id='navbar-button' class="navbar-brand" href="{% url 'main:index' %}">Стальной Узор</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "catalog:catalog" %}">Наши работы  <i class="fas fa-shopping-bag"></i> </a>
                </li>                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' %}">Это Вы
                        <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Выйти  <i class="fas fa-sign-out-alt"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти  <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:signup' %}">Регистрация  <i class="fas fa-pen"></i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:about' %}">О нас <i class="fas fa-info"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block content %}
    {{ content }}
{% endblock  %}
{% block footer %}
<footer class="footer py-1">
    <div class="container">    
        <p id="footertext" class="text-center col-12 col-lg-12">Стальной Узор © 2024</p>      
    </div>
</footer>
{% endblock %}

<script src="{% static "deps/vendor/jquery/jquery.min.js" %} "></script>
<script src="{% static "deps/vendor/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
<script src="{% static "deps/vendor/fontawesome/fontawesome-icons.js" %} " crossorigin="anonymous"></script>
<script src="{% static "deps/js/script.js" %}"></script>

</body>

</html>
